# Bytecode Python
__pycache__/
*.py[cod]
*/__pycache__/
*/**/__pycache__/
*/**/*.py[cod]

# Específico para a pasta backend
/backend/**/__pycache__/
/backend/**/*.py[cod]

# Ambientes virtuais
venv/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Arquivos de ferramentas comuns
*.log
*.sqlite3
*.db

# PyInstaller
*.spec
dist/
build/

# VSCode e outros editores
.vscode/
.idea/
*.swp


# Build output do Next.js
/frontend/.next/
/frontend/out/
/frontend/.turbo/

# Dependências
/frontend/node_modules/

# Arquivos de log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# Arquivos do sistema
/frontend/.DS_Store
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Cache do TypeScript
/frontend/.tsbuildinfo

# Logs e relatórios
/frontend/coverage/


